<div class="bar bar-header bar-dark">
 <div id="title">
<h1 class="title">March Expenses</h1>
  <button ion-button icon-only (click)="addPopover($event)">
  <ion-icon name="add"></ion-icon>
  </button>
</div>
  <!-- <ion-toolbar>
    <ion-searchbar (input)="getAll()"></ion-searchbar>
  </ion-toolbar> -->

  <ion-list *ngIf="items.length">
    <ion-item-sliding *ngFor="let item of items">
    <ion-item>
      <h2>{{ item.title }} - {{item.amount}}</h2>
      <p>{{ item.description }}</p>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="danger" (click)="delete(item)">
        Delete
      </button>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>
  <span *ngIf="!items.length">{{noExpensesMessage}}</span>

  </div>
